#threesixty {
	position:absolute;
	overflow:hidden;
	left:50%;
	top:50%;
	/* set width and height to match image size */
	width:512px;
	height:384px;
	/* set margin-left and margin-top to -1/2 image width and height */
	margin-left:-256px;
	margin-top:-192px;
	z-index:1;
}
#threesixty_images {
	display: none;
}
#threesixty img {
	position:absolute;
	top:0;
	width:100%;
	height:auto;
}
.current-image {
	visibility:visible;
	width:100%;
}
.previous-image {
	visibility:hidden;
	width:0;
}
#spinner {
	position:absolute;
	left:50%;
	top:50%;
	width:90px;
	height:90px;
	margin-left:-45px;
	margin-top:-50px;
	display:none;
}
#spinner span {
	position:absolute;
	top:50%;
	width:100%;
	color:#333;
	font:1em Arial, Verdana, sans;
	text-align:center;
	line-height:0.6em;
	margin-top:-0.3em;
}