#three-sixty-spinner {
	position:absolute;
	left:50%;
	top:50%;
	width:90px;
	height:90px;
	margin-left:-45px;
	margin-top:-50px;
	display:none;
}
#three-sixty-spinner span {
	position:absolute;
	top:50%;
	width:100%;
	color:#333;
	font:1em Arial, Verdana, sans;
	text-align:center;
	line-height:0.6em;
	margin-top:-0.3em;
}
#three-sixty-spinner-images {
	display: none;
}
.three-sixty-current-image {
	visibility:visible;
	width:100%;
}
.three-sixty-previous-image {
	visibility:hidden;
	width:0;
}
